.carousel-inner img {
  border-radius: 100px;
  border-color: #333;
  border-width: 50px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel-item img {
  border-radius: 100px;
  border-color: #333;
  border-width: 50px;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* Set carousel height to match viewport */
.carousel {
  border-radius: 100px;
  border-color: #333;
  border-width: 50px;
  max-width: 100%;
  max-height: calc(70vh - 200px); /* Adjust the value as needed */
  margin: 0 auto;
}

@media (max-width: 768px) {
  /* Adjust carousel height for smaller screens */
  .carousel {
    max-height: 40vh;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  /* Adjust carousel height for larger screens */
  .carousel {
    max-height: 30vh;
  }
}

@media (min-width: 1200px) {
  /* Adjust carousel height for even larger screens */
  .carousel {
    max-height: 20vh;
  }
}

@media (min-width: 768px) {
  /* Adjust section margin for larger screens */
  .section {
    margin: 100px;
  }
}

#projects-nav {
  position:relative;
  background:none;
}

#myname {
  background-color: black;
  color: #8769e4;
  border-style: none;
  border-radius: 5%;
  border-color: #333;
  font-size: xx-large;
  font-family: fantasy;
  font-weight: bolder;
}

#close {
  background-color: black;
  color: #8769e4;
  border: none;
}

#alert {
  display: none;
  background-image: url("images/popup.jpg");
  background-size: cover;
  border: none;
  border-radius: 50%;
  position: absolute;
  height: 160px;
  width: 160px;
  left: 33%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 6px 8px 8px;
  text-align: center;
}


body {
  background-color: #333;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

#canvas-container {
 
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.audio {
  position: fixed;
  bottom: 20px;
  left: 80%;
  transform: translateX(-50%);
  z-index: 1000;
}

/* Change the color of the audio player controls */
audio::-webkit-media-controls-panel {
  background-color: #8769e4;
  color: black;
}

/* Change the color of the volume slider */
audio::-webkit-media-controls-volume-slider {
  background-color: #8769e4;
}

/* Change the color of the progress bar */
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  color: black;
}

audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button {
  color: black;
}


header {
  position: relative;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 500;
}

header {
  display: flex;
  align-items:center;
  justify-content: space-between;
  height: 10rem;
  padding: 0.2rem;
  background-color: black;
  color: #8769e4;
  font-family: fantasy;
  font-size: x-large;
  font-weight: bolder;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  color: #8769e4;
  text-decoration: none;
  margin-left: 1rem;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

nav a.active {
  text-decoration: underline;
}

h1 {
  font-size: 2em;
  text-align: center;
  margin: 2em 0;
  color: #8769e4;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 400px;
}

label {
  font-weight: bold;
  margin-bottom: 0.5em;
  color: #fff;
}

input[type="text"],
input[type="email"],
textarea {
  font-size: 1em;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.2s;
  width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #333;
}

input[type="submit"] {
  font-size: 1em;
  background-color: #333;
  color: #fff;
  padding: 0.5em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 50%;
  margin: 1em auto;
}

input[type="submit"]:hover {
  background-color: #444;
}

@media screen and (min-width: 600px) {
  form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  label,
  input[type="text"],
  input[type="email"],
  textarea {
    width: 48%;
  }
}

@media (max-width: 768px) {
  header h1 {
    font-size: 20px;
  }

  nav a {
    font-size: 12px;
  }
}
